{{#each this}}
<li class="result__item">
    <a href="#" class="result__link link" data-id={{id}}>
        <div class="card">
        <div class="card__image-box">
            <img class="card__image" src="{{poster_path}}" alt="{{original_title}}" />
        </div>
        <div class="card__info-box">
            <h2 class="card__name">{{title}}</h2>
            <div class ="result__wrapper">
                <div class="card__details">
                    <ul class="genres__list list">
                        {{#each genre_ids}}
                        <li class="genres__item">                            
                            <p class="genres__text">{{this}}</p>                      
                        </li>
                        {{/each}}
                    </ul>
                </div>
                <p class="card__text">{{release_date}}</p>
            </div>
        </div>
    </div>
    </a>
</li>
{{/each}}